ul{
    list-style: none;
}
li{
    /* border-bottom: .5px solid black; */
}


/*----------- menu----------- */




.menu{
    display: none;
    width: 100%;
    height: auto;
    background-color:#efefef9c;
    overflow: scroll;
}

.angle-container{
    background-color: white;
    box-shadow: 1px 1.5px 3px beige;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}
 
.bcak-angle{
    font-size: 22px;
    margin-right: 10px;
    
}

.option{
    margin-top: 25px;
    direction: rtl;
    padding-right: 10px;
    padding-left: 10px;
}

.options{
    padding: 6px 3px 6px 3px;
    border-bottom: 0.5px solid #00000017;
}


/* ---------end of menu------- */


/* ----------header--------- */

.left-header{
    margin-top: 1px;
}

.menu-icon{
    border: solid 0.5px;
    border-radius: 5px;
    font-size: 24px;
    padding: 4px 7px 4px 7px;
}

.profile-btn{
    background-color: white;
    border: rgb(42 167 231) 2px solid;
    color: rgb(42 167 231);
    border-radius: 20px;
    width: 70px;
    height: 36px;
    position: absolute;
    margin-left: 5px;
}

.right-header{
    display: flex;
    justify-content: flex-end;
}

.logo-img{
    width: 120px;
    height: auto;
}





/* -------end of header----- */
